.group3664 {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Manrope';
  font-style: normal;
  .heading {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    margin: 22px;
    h1 {
      font-family: NewYork;
      font-weight: 410;
      letter-spacing: 0.05em;
      color: #33453b;
      font-size: clamp(1.8rem, 0.8rem + 4.5vw, 5rem);
      text-transform: uppercase;
    }
  }
  .content {
    background-color: #3b7a9e;
    display: flex !important;
    justify-content: center;
    align-items: center;
    .btn {
      align-self: center;
      button {
        background-color: #3b7a9e;
        text-decoration: none;
        transition: all 0.2s;
        border: none;
      }
      button:hover {
        cursor: pointer;
      }
    }
    .slider {
      max-width: 100vw;
      width: 100%;
      overflow: hidden;
      .group3646 {
        background-color: #3b7a9e;
        display: flex !important;
        @media (max-width: 899px) {
          flex-direction: column;
        }
        @media (min-width: 900px) {
          flex-direction: row;
        }
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .achievementinfo {
          display: flex !important;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;
          margin: 1rem;
          margin-left: 1.5rem;
          padding: 0.1rem;
          justify-content: space-between;
          color: #f9f6ff;
          .year {
            text-transform: uppercase;
            background: #f9f6ff;
            border-radius: 40px;
            padding: 0.1rem 2rem;
            text-align: center;
            font-weight: 500;
            font-size: 1rem;
            letter-spacing: 0.05em;
            color: #3b7a9e;
          }
          .title {
            margin-top: 1.5rem;
            text-transform: uppercase;
            height: auto;
            font-weight: 700;
            font-size: 2.2rem;
            word-break: keep-all;
            @media (max-width: 1050px) {
              line-height: 1.6em;
            }
            @media (min-width: 1050px) {
              line-height: 2em;
            }
            letter-spacing: 0.05em;
            color: #f9f6ff;
          }
          .desc {
            margin-top: 2.6rem;
            word-break: keep-all;
            font-weight: 400;
            font-size: 1.4rem;
            @media (max-width: 1050px) {
              line-height: 1.6em;
            }
            @media (min-width: 1050px) {
              line-height: 2em;
            }
            color: #f9f6ff;
          }
          .descEllipsis {
            @media (max-width: 1050px) {
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
            }
          }
        }
        .image120 {
          @media (max-width: 899px) {
            margin: 0.2rem;
            padding: 1rem 0rem;
          }
          @media (min-width: 900px) {
            padding: 7rem 1rem 7rem 5rem;
          }
          flex: 2 2 0;
          .Image {
            border-radius: 1rem !important;
          }
        }
      }
    }
    .btnright {
      align-self: center;
      button {
        text-decoration: none;
        transition: all 0.2s;
        border: none;
        background-color: transparent;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
}
