@import url('https://fonts.googleapis.com/css?family=Manrope');
@font-face {
  font-family: NewYork;
  src: url(../../styles/NewYork.otf);
}
.group3664 {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  .heading {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    margin: 22px;
    h1 {
      font-family: NewYork;
      font-style: normal;
      font-weight: 410;
      letter-spacing: 0.05em;
      color: #33453b;
      font-size: 5rem;
      text-transform: uppercase;
    }
  }
  .content {
    background-color: #3b7a9e;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .btn {
      flex-basis: 5vw;
      align-self: center;
      button {
        background-color: #3b7a9e;
        text-decoration: none;
        transition: all 0.2s;
        border: none;
      }
      button:hover {
        cursor: pointer;
      }
    }
    .slider {
      max-width: 100vw;
      width: 100%;
      margin: 10px;
      overflow: hidden;
      .group3646 {
        background-color: #3b7a9e;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .achievementinfo {
          display: flex !important;
          flex-direction: column;
          align-items: flex-start;
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 0;
          margin: 30px;
          margin-left: 20px;
          padding: 10px;
          justify-content: space-between;
          color: #f9f6ff;
          #year {
            p {
              text-transform: uppercase;
              background: #f9f6ff;
              border-radius: 40px;
              padding-top: 2px;
              padding-bottom: 2px;
              padding-right: 20px;
              padding-left: 20px;
              text-align: center;
              font-family: 'Manrope';
              font-style: normal;
              font-weight: 500;
              font-size: 1rem;
              letter-spacing: 0.05em;
              color: #3b7a9e;
            }
          }
          #title {
            p {
              text-transform: uppercase;
              height: auto;
              font-family: 'Manrope';
              font-style: normal;
              font-weight: 700;
              font-size: 2.2rem;
              word-break: keep-all;
              line-height: 2em;
              letter-spacing: 0.05em;
              color: #f9f6ff;
            }
          }
          #desc {
            margin-top: 2em;
            p {
              height: auto;
              word-break: keep-all;
              font-family: 'Manrope';
              font-style: normal;
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 2em;
              color: #f9f6ff;
            }
          }
        }
        .image120 {
          margin: 30px;
          width: fit-content;
          flex-grow: 2;
          flex-basis: 0;
          flex-shrink: 0;

          .Image {
            border-radius: 15px !important;
          }
        }
      }
    }
    .btnright {
      flex-basis: 5vw;
      align-self: center;
      button {
        text-decoration: none;
        transition: all 0.2s;
        border: none;
        background-color: transparent;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
}
