  .mainContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 80px 0px 80px ;
    .group3602 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50% ;
    transform: translateX(-50%);
    
  h2 {
      font-weight: 400;
    font-size: 60px;
    
      font-family: NewYork;
      text-align: center;
      color: #110909;
      text-transform: uppercase;
       margin-bottom: 12px;

       @media screen and (max-width:420px){
        
      font-size: 45px;
       }
    }
    p {
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: #676767;
      @media screen and (max-width:420px){
        
      font-size: 15px;
       }
    } 
  }

  .slider{
  
  
  margin-top: 76px;
  .container
{ 
  position: relative;
  img{
    width: 119px ;
    height: 88px;
     background-color: white;
      object-fit: contain;
      border-radius: 50%;
  
  }
}
}
  }
     
