.alert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:60vw;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    color:black;
    
    span{
        p{
            color:black;

        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    button{
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        border: none;
        cursor: pointer;
        box-shadow: 2px 2px 2px grey;
    }
}